__pycache__
.DS_Store
*.pyc
*.pyo
*.pyd
*.so
.Python
.mypy_cache
.pytest_cache
.coverage
.coverage.*
.cache
*.swp
*~
.dcccache
.dcignore
/tmp
*.log
.idea
*.code-workspace
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
pip-log.txt
pip-delete-this-directory.txt
/dist
/.make.functions.sh
